<header id="header">
  <div class="container d-flex align-items-center justify-content-center">
    <!-- Logo Section -->
    <a href="/" class="logo py-2">
      <img src="assets/img/tn_logo.png" alt="tn" />
      <img src="assets/img/cm.png" alt="" />
    </a>
    
    <!-- Union State Web Portal Text -->
    <span class="logo text-center">
      <span class="d-block txt-red">Union State Web Portal</span>
      <span class="d-block txt-green">மத்திய மாநில இணைய தளம்</span>
    </span>

    <!-- Minister Image Section -->
    <a href="/" class="logo py-2">
      <img src="assets/img/cm_pm.jpg" alt="minister" />
    </a>
  </div>
</header>
