<section id="topbar" class="d-flex align-items-center">
  <div class="container d-flex justify-content-between">
    <div class="contact-info d-flex align-items-center"> 
      <a href="mailto:dept@dept.com">
        <i class="bi bi-envelope d-flex align-items-center"><span>deptdept.com</span></i>
      </a>
      <a href="tel:+4733378901">
        <i class="bi bi-telephone-outbound d-flex align-items-center ms-4"><span>+1 4521 3624 23</span></i>  
      </a>  
    </div>
    <div class="social-links d-flex align-items-center">
      <a href="#" class="twitter">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked="">
          <label class="form-check-label mx-1" for="flexSwitchCheckChecked">தமிழ் வடிவம்</label>
        </div>
      </a>
      <a href="#navbar" class="twitter"><i class="bi bi-skip-forward-fill"></i> Skip to Main Content</a>
      <a href="#" class="twitter"><i class="bi bi-cloud-sun"></i></a>
      <a href="#" class="instagram btn-increase">A <sup>+</sup></a>
      <a href="#" class="linkedin btn-orig">A</a>
      <a href="#" class="linkedin btn-decrease">A <sup>-</sup></a> 
      <a href="#" class="twitter"><i class="bi bi-calendar"></i> <span id="showdate">16/07/2025</span></a>
      <a href="#" class="facebook"><i class="bi bi-clock"></i> <span id="showTime">3:48:01 PM</span></a>
    </div>
  </div>
</section>
